* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  color: #141414;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

span {
  color: #0065fe;
}

/* ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

li {
  list-style: none;
  display: flex;
  gap: 8px;
} */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* TYPOGRAPHY */
.head-text {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 48px;
  line-height: 96px;
}

.header-top p {
  font-size: 18px;
  line-height: 28px;
  width: 781px;
  height: 105px;
  align-self: center;
  text-align: center;
}

.sc-text,
.faq-intro p {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 37px;
  line-height: 32px;
  align-self: center;
}

.get-started p,
.st {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  align-self: center;
}

.scissors p {
  font-size: 16px;
  line-height: 28px;
  grid-column: 2;
}

.block p:first-child,
.bl-text {
  font-size: 32px;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.stat-text p,
.block p,
.document {
  font-size: 16px;
  line-height: 24px;
}

.form p {
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  padding-right: 20px;
  grid-column: 1/-1;
}

.faq-text p:first-child {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
}

.stat-text p:first-child {
  font-size: 32px;
  line-height: 40px;
}

.document p:first-child {
  font-family: "Gilroy-Bold", sans-serif;
  margin-bottom: 8px;
}
/* LINKS BUTTONS ICONS LINES */

a:link,
a:visited {
  text-decoration: none;
  color: #0065fe;
}

button {
  font-size: 16px;
  line-height: 12px;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  background-color: #0065fe;
  color: #fff;
  cursor: pointer;
}

.underline {
  width: 174px;
  height: 19.9px;
  position: absolute;
  top: 168px;
  right: 377px;
}

.signup button {
  padding: 12px 44px;
}

.price-btn {
  display: flex;
  gap: 16px;
}

.price-btn button {
  font-size: 16px;
  line-height: 12px;
  padding: 20px 38px;
}

.white-btn {
  border: 1px solid #0065fe;
  background-color: #fff;
  color: #0065fe;
}

.get-started button {
  padding: 16px 60px;
}

/* HEADER */

.header-row {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation a:link,
.navigation a:visited {
  color: #141414;
}

.features {
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-box {
  width: 948px;
  margin-top: 106px;
  margin-bottom: 76px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header-top {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.signup {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}

.chainlink-container {
  position: relative;
  align-self: flex-end;
  display: flex;
}

.chainlink {
  border: 0.5px solid #0065fe;
  border-radius: 24px;
  margin-left: 434px;
  width: 768px;

  padding: 40px 60px;
  background: linear-gradient(to right, #e2e9f0, #fff);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-size: 18px;
  line-height: 24px;
}

.chainlink p {
  padding: 0 80px;
}

.triangle {
  position: absolute;
  top: -14px;
  left: 445px;
  z-index: -1;
}

.ellipse-container {
  margin-bottom: -6px;
  position: relative;
}

.ellipse {
  position: absolute;
  bottom: 24px;
  left: 256px;
}

/* SCISSORS INFO */

.scissor {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.stats {
  width: 1440px;
  padding: 60px 140px;
  display: flex;
  gap: 120px;
}

.stat-text {
  display: flex;
  gap: 72px;
}

.info {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: center;
}

.scissors {
  display: grid;
  align-self: flex-start;
  grid-template-columns: auto 370px;
  column-gap: 11px;
  row-gap: 16px;
}

.info-blocks {
  width: 708px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 28px;
  row-gap: 64px;
}

/* PRICE */

.price {
  margin: 42px auto 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 68px;
}

.price-text {
  display: grid;
  grid-template-columns: auto 560px;
  column-gap: 16px;
  row-gap: 8px;
}

.price-text p {
  text-align: center;
  grid-column: 2;
}

/* FORM */

.form-gap {
  width: 1440px;
  height: 523px;
  background-color: #1e3448;
  display: flex;
  align-items: center;
}

.form {
  background-color: #fff;
  width: 476px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 42px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  position: relative;
}

.form * {
  border: 1px solid #0065fe;
  color: #0065fe;
  text-align: center;
  border-radius: 12px;
  height: 51px;
}

.form button {
  border: none;
  border-radius: 100px;
  color: #fff;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form p,
.url {
  grid-column: 1/-1;
}

.form p,
.form strong {
  border: none;
}

.form-left {
  position: absolute;
  left: 250px;
}

.form-right {
  position: absolute;
  left: 0;
}

/* FAQ */

.faq {
  margin: 43px auto 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.faq-intro {
  display: flex;
  gap: 16px;
}

.faq-block {
  width: 792px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.faq-text {
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid #d6d6d6;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  column-gap: 24px;
}

.open {
  grid-column: 1/-1;
}

.gap {
  width: 1440px;
  height: 299px;
  background-color: #1e3448;
  color: #fff;
  display: flex;
  justify-content: center;
}

.get-started {
  position: relative;
  margin: 109px auto 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.gs-left {
  position: absolute;
  left: 0;
}
.gs-right {
  position: absolute;
  right: 0;
}
/* FOOTER */

.documentation {
  position: relative;
  margin: 95px auto 23px;
  justify-content: center;
  display: flex;
  gap: 39px;
}

.social-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.socials {
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.document-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
}

.document {
  padding: 0 24px;
}

.tos {
  margin-left: 1017px;
  margin-bottom: 39px;
  padding: 0 12px;
  display: inline-flex;
  gap: 8px;
}

.bg-footer-left {
  position: absolute;
  top: -77px;
  left: -42px;
}

.bg-footer-right {
  position: absolute;
  top: 107px;
  right: -45px;
}
