.analysis {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.flex p {
  color: #f1f4f8;
}

.analysis > div:first-child {
  align-items: start;
}

.analysis > div {
  width: 100%;
  /* outline: 0.5px solid rgba(241, 244, 248, 0.412); */
  border: 0.5px solid rgba(241, 244, 248, 0.14);
  padding: 2rem;
  /* height: 100%; */
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.analysis .column {
  grid-column: span 2;
  border: none;
}

.analysis .column:first-of-type {
  border-right: 0.5px solid rgba(241, 244, 248, 0.14);
}
.analysis .column:nth-of-type(2) {
  border-bottom: 1px solid rgba(241, 244, 248, 0.412);
  border-left: 0.5px solid rgba(241, 244, 248, 0.14);
}

.analysis .column:last-of-type {
  border-top: 1px solid rgba(241, 244, 248, 0.412);
  border-left: 0.5px solid rgba(241, 244, 248, 0.14);
}

.flex:nth-of-type(3) {
  grid-row: span 2;
}

.flex:nth-of-type(6) {
  grid-row: span 2;
}

.analysis .left {
  border-left: 1px solid rgba(241, 244, 248, 0.412);
  background-color: #3384fe;
  /* background-color: #b3d1ff; */
  /* background-color: rgba(153, 194, 255, 0.06); */
  background-color: rgba(0, 102, 254, 0.06);
  /* background-color: #213547; */
  /* color: #0065fe; */
  color: #003d98;
  color: #005be5;
}

.analysis .right {
  border-right: 1px solid rgba(241, 244, 248, 0.412);
}

.analysis .dark {
  /* background-color: rgba(0, 102, 254, 0.06); */
  background-color: rgba(0, 10, 25, 0.2);
}

.right {
}
