.analysis {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.back-btn {
  position: fixed;
  z-index: 99;
  top: 10%;
  left: 4rem;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
}

.back-icon {
  border-radius: 100%;
  color: #f1f4f8;
  background-color: transparent;
  cursor: pointer;
  transform: all 0.8s;
}

.back-icon:hover,
.back-icon:active {
  color: #0065fe;
}

.flex p,
.flex ul {
  color: #f1f4f8;
}

.analysis > div {
  width: 100%;
  border: 0.5px solid rgba(241, 244, 248, 0.14);
  padding: 2rem;
}

.analysis > div:hover {
  filter: brightness(80%);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.flex h2 {
  font-size: 4.4rem;
}

.long {
  padding-left: 4rem;
  word-break: break-all;
}

.analysis .column {
  grid-column: span 2;
  border: none;
}

.analysis .column:first-of-type {
  border-right: 1px solid rgba(241, 244, 248, 0.14);
  cursor: pointer;
}

.analysis .column:nth-of-type(2) {
  background-color: rgba(0, 102, 254, 0.018);
  border-bottom: 1px solid rgba(241, 244, 248, 0.62);
  border-left: 0.5px solid rgba(241, 244, 248, 0.14);
}

.analysis .column:last-of-type {
  border-top: 1px solid rgba(241, 244, 248, 0.412);
  border-left: 0.5px solid rgba(241, 244, 248, 0.14);
  align-items: start;
  justify-content: start;
}

.flex:nth-of-type(3) {
  grid-row: span 2;
  justify-content: start;
}

ul.flex {
  align-self: start;
  align-items: start;
  gap: 2rem;
}

.column .flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex:nth-of-type(6) {
  grid-row: span 2;
}

.analysis .left {
  border-left: 1px solid rgba(241, 244, 248, 0.412);
  background-color: rgba(0, 102, 254, 0.06);
  color: #005be5;
}

.analysis .right {
  border-right: 1px solid rgba(241, 244, 248, 0.412);
}

.analysis .dark {
  background-color: rgba(0, 10, 25, 0.2);
}
