.url-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 7rem 2rem;
  transition: all 3s ease-in;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.user {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 4rem;
}

.user > em {
  font-size: 1.8rem;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 2rem;
}

.url-container {
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border-radius: 12px;
}

.url-container > div {
  max-width: 44rem;
  width: 100%;
  padding: 2rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.long-link {
  border-left: 1px solid #0065fe;
  border-bottom: 1px solid #0065fe;
  background-color: rgba(153, 194, 255, 0.2);
  overflow: scroll;
  word-break: break-all;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  border-radius: 6px;
  padding: 0.4rem 1rem 0.4rem 0.8rem;
}

.short-link {
  font-family: "Gilroy-Bold", sans-serif;
  display: flex;
  gap: 2.8rem;
  cursor: pointer;
  align-self: flex-start;
}

.url-btns {
  display: flex;
  gap: 1rem;
}

.url-btns button {
  display: flex;
  align-items: center;
  padding: 0.8rem 2.4rem;
  gap: 2px;
}

button.delete-btn {
  outline: none;
  padding: 0;
}

.delete-btn {
  position: absolute;
  top: 8%;
  right: 2%;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
  color: #f1f4f8;
}

.delete-btn:hover,
.delete-btn:active {
  color: #0065fe;
}
