.error-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin: 2rem;
}

.wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrong h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 4.4rem;
}

.bug {
  font-size: 12rem;
}

.not-found {
  min-height: 100vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.code {
  font-size: 10rem;
}

.home {
  text-decoration: none;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #e2e0dc;
  color: #e2e0dc;
  border-radius: 0;
  padding: 0.6rem 4rem;
}

.home:hover,
.home:active {
  border: 1px solid #0065fe;
  filter: brightness(150%);
}
