.main-body {
  max-width: 94.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin: 5rem auto 7.6rem;
  align-items: center;
}

.main-top {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.main-intro {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 4.8rem;
  line-height: 9.6rem;
}

.main-intro span {
  display: inline-block;
  position: relative;
}

.underline {
  width: 49%;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text {
  font-size: 1.8rem;
  line-height: 2.8rem;
  max-width: 64ch;
  margin: 0 auto;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.6rem;
}

.signup-btn {
  padding: 1.2rem 4.4rem;
}

.signup > a:hover {
  transform: scale(1.05);
}

.signup-btn:disabled {
  background-color: #6b6c6f;
  outline: none;
}

.signup-btn:disabled:hover {
  background-color: #6b6c6f;
  outline: none;
  transform: none;
  color: #f1f4f8;
}

.learn-btn {
  color: #f1f4f8;
}

.chainlink {
  position: relative;
  align-self: flex-end;
  border: 0.5px solid #141414;
  border-radius: 24px;
  max-width: 76.8rem;
  padding: 4rem 6rem;
  background: linear-gradient(to right, #6b6c6f, #6b6c6f, #6b6c6f, #9e9e9e);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.chainlink p {
  font-size: 1.8rem;
  padding: 0 8rem;
  line-height: 2.4rem;
}

.triangle {
  height: 115%;
  z-index: -1;
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  filter: grayscale(100%) invert(55%);
}

.triangle + img {
  width: 66%;
}

.main-bottom {
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
}

.ellipse {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  /* transform: translate(-50%, -50%); */
  filter: grayscale(100%) invert(30%);
}

.grey-bg {
  width: 100%;
  filter: grayscale(100%) invert(45%);
}
