.header {
  position: relative;
  padding: 1.4rem 0;
  background-color: #292e3c;
  transition: top 0.8s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link.active {
  color: red;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 144rem;
  z-index: 999;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.nav,
.nav-open {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.nav a:link,
.nav a:visited,
.nav-open a:link,
.nav-open:visited,
.login a:link,
.login a:visited {
  color: inherit;
}

.header-nav a:hover,
.header-nav a:active {
  color: #0065fe;
}

.login a:hover {
  color: #0065fe;
}

.features-link {
  display: flex;
  align-items: center;
}

.features-link span {
  color: inherit;
}

.chevron {
  filter: grayscale(100%) invert(100%);
}

.features-link:hover .chevron {
  filter: none;
}

.login {
  margin-left: 10rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.menu-btn {
  display: none;
  z-index: 999;
  background-color: transparent;
  color: inherit;
}
