.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 144rem;
  z-index: 999;
  margin: 0 auto 10.6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav,
.nav-open {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.nav a {
  color: #141414;
}

.features {
  display: flex;
  align-items: center;
}

.features span {
  color: inherit;
}

.login {
  margin-left: 10rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.menu-btn {
  display: none;
  z-index: 999;
  background-color: transparent;
  color: inherit;
}
