* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 16px,  convert 1rem =10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  max-width: 144rem;
  margin: 0 auto;
  padding-top: 6.1rem;
  font-size: 1.6rem;
  color: #141414;
  transition: all 0.25s;
}

button {
  border: none;
  line-height: 1.2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 100px;
  background-color: #0065fe;
  color: #fff;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
  color: #141414;
}

a:active,
button:active {
  transform: translateY(1px);
}

img {
  display: block;
}

li {
  list-style: none;
}

span,
.login a,
.signup > a,
.header-nav a:hover {
  color: #0065fe;
}

.login a:hover,
.signup > a:hover {
  color: inherit;
  text-decoration: underline;
}

/* BELOW 1392PX - SMALL DESKTOP */

@media (max-width: 87em) {
  html {
    font-size: 56.25%;
  }

  .main-intros,
  .main-intros + p {
    padding: 0 1rem;
  }

  .documentation {
    gap: 2rem;
  }

  .socials-block {
    gap: 2rem;
  }

  .socials {
    gap: 2rem;
  }

  .documents-block {
    grid-template-columns: 1fr 1fr 1fr 0.75fr;
    gap: 0;
  }

  .tos {
    gap: 0.5rem;
  }
}

/* BELOW 896PX - TABLET */

@media (max-width: 56em) {
  html {
    font-size: 50%;
  }

  .menu-btn {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav-open {
    z-index: 999;
    font-size: 4rem;
    transition: all 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.008);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    justify-content: center;
  }

  .btn {
    padding: 3rem 4rem;
    font-size: 4rem;
  }

  .login li {
    margin: 3rem;
  }

  .main-intro {
    font-size: 4.4rem;
  }

  .main-intro {
    line-height: 1.8;
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 6rem 10rem;
  }

  .stat-texts {
    gap: 5rem;
    text-align: center;
  }

  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why-scissors {
    align-self: center;
    grid-template-columns: auto 50rem;
  }

  .price-block {
    flex-direction: column;
  }

  .teams {
    border-radius: 0 0 1.2rem 1.2rem;
  }

  .basic {
    border-radius: 1.2rem 1.2rem 0 0;
  }

  .socials-block {
    max-width: 17rem;
    position: absolute;
    left: 3rem;
    gap: 1rem;
  }

  .documents-block {
    grid-template-columns: 0.8fr 1fr 1fr 1.1fr;
    row-gap: 4rem;
    column-gap: 0;
  }

  .documents-block ul:first-of-type {
    grid-column: 2;
  }
}

/* BELOW 640PX - MOBILE */

@media (max-width: 40em) {
  .main-body {
    margin-top: 9rem;
    padding: 0 1rem;
  }

  .main-intro {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .chainlink {
    border-radius: 20px;
  }

  .chainlink p {
    font-size: 1.2rem;
    padding: 0;
  }

  .scissors-info {
    text-align: center;
    margin-bottom: 16rem;
  }

  .stats {
    padding: 6rem 1rem;
  }

  .stat {
    font-size: 3.2rem;
  }

  .stat-texts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .info {
    padding: 0 1rem;
  }

  .why-scissors {
    max-width: 60rem;
    grid-template-columns: inherit;
    row-gap: 1rem;
  }

  .info-blocks {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  .info-block {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-block p:first-child {
    margin-bottom: 1.2rem;
  }

  .info-block p {
    font-size: 1.8rem;
  }

  .pricing {
    margin: 0 1rem 11rem;
  }

  .price-texts {
    max-width: 60rem;
    grid-template-columns: auto 1fr;
    text-align: center;
    column-gap: 0.6rem;
  }

  .price-intro {
    font-size: 4.1rem;
    line-height: 4rem;
  }

  .price-btn button {
    padding: 2rem 3rem;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .faq {
    margin: 4.3rem 1rem 15.5rem;
  }

  .documents-block {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 32em) {
  header a,
  .btn {
    font-size: 3rem;
  }

  .login {
    flex-direction: column;
    margin-left: -1rem;
  }

  .btn {
    padding: 2rem 2rem;
  }
}
